/*------------------------------------------------------
[Website Layout]
*/

/*
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}*/

.body-overflow-measure {
  position: relative;
  height: 200vh;
}

.website-slider {
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
}

.website-slider-inner {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.website-slider .website-slider-item {
  display: none;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
  background: $white;
  transition: opacity .4s cubic-bezier(0.5, 0, 0.2, 1) 0s;
  user-select: none;

  .website-slider-item-inner {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    transition: transform .4s cubic-bezier(0.5, 0, 0.2, 1) .1s, opacity .4s cubic-bezier(0.5, 0, 0.2, 1) .1s;
  }

  &:not(.show) {
    opacity: 0;

	.website-slider-item-inner {
      opacity: 0;
      transform: translate3d(0, 15vh,0);
	}
  }

  &.show-prev {
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &:not(.bg-transparent){
	  opacity: 1;
	}

    &.bg-transparent.has-overlay .website-slider-item-inner {
	  opacity: 0;
	}

	.website-slider-item-inner {
      opacity: 1;
      transform: translate3d(0,0,0);
	}
  }

  &.show-new {
    display: block;
    z-index: 30;
    //opacity: 0;
  }

  &.active {
    display: block;
    z-index: 20;
	user-select: auto;
  }

  // Overlay Zoom

  &.has-overlay {
    .overlay {
      transition: transform .5s cubic-bezier(0.5, 0, 0.2, 1) 0s;
    }

	&:not(.show):not(.show-prev) .overlay {
      transform: scale(1.35);
    }
  }
}

/* Website Slider Buttons */

.website-slider-buttons {
  position: fixed;
  bottom: $slider-buttons-position-bottom;
  right: $slider-buttons-position-right;
  padding: $slider-buttons-padding;
  background-color: $slider-buttons-background;
  border-radius: $slider-buttons-border-radius;
  box-shadow: $slider-buttons-box-shadow;
  backface-visibility: hidden;
  z-index: $zindex-fixed;
}

/* Footer */

.site-footer {
  position: relative;
  z-index: 50;
}
